@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

#slide1 {
    width: 1320px;
    height: 500px;
    margin: 0 auto;
    background-color: lavenderblush;
    position: relative;
}

/* slide1 swiper */
#slide1 .swiper {
    width: 100%;
    height: 100%;
}

#slide1 .swiper-slide {
    text-align: center;
    font: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#slide1 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 또는 영상 요소가 크기 및 비율에 맞게 잘리면서도 꽉 차게하는 속성 */
}

#slide1 .swiper {
    margin-left: auto;
    margin-right: auto;
}

/* 추가로 버튼 수정하기 */
#slide1 .swiper-button-prev:after,
#slide1 .swiper-rtl .swiper-button-next:after {
    content: url(../images/left_btn.png);
}

#slide1 .swiper-button-next:after,
#slide1 .swiper-rtl .swiper-button-prev:after {
    content: url(../images/right_btn.png);
}

/* 화살표 버튼 위치 수정 */
#slide1 .swiper-button-prev,
#slide1 .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -60px);
}

#slide1 .swiper-button-next,
#slide1 .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -60px);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,-40px);
}

/* 불릿 색상 바꾸기 */
#slide1 .swiper-pagination-bullet-active {
    background-color: darkred;
    width: 40px;
    border-radius: 5px;
    transition: width 0.5s;
}

/* slide2 swiper */
#slide2 {
    width: 1320px;
    margin: 100px auto;
    background-color: cornflowerblue;
    height: 500px;
    position: relative;
}

#slide2 .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
#slide2 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
#slide2 .swiper-slide img {
    display: block;
    width: 100%;
}